extends ../../template.pug
mixin content
    div#content 
        div(tabindex="-1").modal.fade#report-modal
            div.modal-dialog
                div.modal-content
                    div.modal-header.d-flex.justify-content-between
                        div.d-inline-flex
                            h3 Report #{compose.title}&nbsp;
                    div.modal-body#modal-body
                        form(action="javascript:reportCompose()")
                            div.mb-3
                                h4 Problems (check all)
                                div.container
                                    div.row
                                        span.col
                                            input.form-check-input#name(type="checkbox")
                                            label(for="name").form-label &nbsp;Name
                                        span.col
                                            input.form-check-input#script-content(type="checkbox")
                                            label(for="script-content").form-label &nbsp;Script Content
                                    div.row
                                        span.col
                                            input.form-check-input#tags(type="checkbox")
                                            label(for="tags").form-label &nbsp;Tags
                                        span.col
                                            input.form-check-input#image(type="checkbox") 
                                            label(for="image").form-label &nbsp;Image
                                    div.row
                                        span.col
                                            input.form-check-input#comments-report(type="checkbox")
                                            label(for="comments-report").form-label &nbsp;Comments
                            div.mb-3
                                label(for="message").form-label Report Message (not required)
                                textarea(rows="3").form-control#message
                            div.mb-3.text-end
                                button(type="submit").btn.btn-danger Submit
        include ../../sign/modal.pug
        div.d-flex.justify-content-between
            h1.h3 #{compose.title}
            span
                if userIDToken
                    button.btn.btn-danger.mt-2(data-bs-toggle="modal" data-bs-target="#report-modal") Report
                else
                    button.btn.btn-danger.mt-2(data-bs-toggle="modal" data-bs-target="#overlay") Report
        div
            span.d-inline-flex
                p Created by&nbsp;
                a(href="/account/" + authorName).d-inline-flex.mb-0
                    p.me-2 #{authorName}
                    img(width="24" height="24" src=minioPublic + "/user/" + compose.authorID + ".png").border.border-primary
        div
            span.d-inline-flex
                img(width="48" src=minioPublic + "/image/" + compose.imageName + ".png")
                h2.h4 &emsp;#{compose.imageName}
        h3.h4 Tags:
        ul.d-inline-flex
            each tag in compose.tags
                li.d-inline.mx-3= tag
        div(style="height:50vh;")#yaml.border.border-primary.w-75

    script(src="/script/lib/ace/ace.js")
    script.
        var editor = ace.edit("yaml");
            editor.session.setMode("ace/mode/yaml");
            editor.setOptions({
                readOnly: true,
                highlightActiveLine: false,
            });
        let yamlContent = `#{compose.yaml}`.replace(/&quot;/g, '"')
        yamlContent = yamlContent
            .replace(/&lt;/g, "<")
            .replace(/&gt;/g, ">");
        editor.setValue(yamlContent)
        editor.moveCursorTo(0,0);
    div.card.mt-3#create-comment
        div.card-header Add a comment
        div.card-body
            if userIDToken
                form(action="javascript:sendComment()")
                    textarea(rows="2").form-control#comment-body
                    button.btn.btn-primary.float-end.mt-3 Submit
            else
                textarea(rows="2").form-control#comment-body
                button(data-bs-toggle="modal" data-bs-target="#overlay").btn.btn-primary.float-end.mt-3 Submit

    div#comments
    div#comment-page-selector
    script.
        const minioPublic = "#{minioPublic}";
        const composeID = "#{compose._id}";
        let currentPage = 1;
        currentComments = [];
        let loggedIn;
        if ("#{userIDToken}" != ""){
            loggedIn = true;
        }
        else {
            loggedIn = false;
        }
    script(src="/script/scripts/compose/view.js")
