extends ../../template.pug
mixin content
    div#content 
        h1.h3 #{compose.title}
        div
            span.d-inline-flex
                p Created by&nbsp;
                a(href="/account/" + authorName).d-inline-flex.mb-0
                    p.me-2 #{authorName}
                    img(width="24" height="24" src=minioPublic + "/user/" + compose.authorID + ".png").border.border-primary
        div
            span.d-inline-flex
                img(width="48" src=minioPublic + "/image/" + compose.imageName + ".png")
                h2.h4 &emsp;#{compose.imageName}
        h3.h4 Tags:
        ul.d-inline-flex
            each tag in compose.tags
                li.d-inline.mx-3= tag
        div(style="height:50vh;")#yaml.border.border-primary.w-75

    script(src="/script/lib/ace/ace.js")
    script.
        var editor = ace.edit("yaml");
            editor.session.setMode("ace/mode/yaml");
            editor.setOptions({
                readOnly: true,
                highlightActiveLine: false,
            });
        let yamlContent = `#{compose.yaml}`.replace(/&quot;/g, '"')
        yamlContent = yamlContent
            .replace(/&lt;/g, "<")
            .replace(/&gt;/g, ">");
        editor.setValue(yamlContent)
        editor.moveCursorTo(0,0);
    script(src="/script/scripts/compose/view.js")
