extends ../template.pug
mixin content
    div#content.d-flex.justify-content-between
        div
            span.d-flex.justify-content-between
                h2 #{username}
                //if usernameToken == username
                    button.btn.my-0.py-0.btn-link Edit
                    h2.my-0.py-0(style="font-family: 'serif'") &#9881;
                    p.a Edit
            img(src=minioPublic + "/user/" + id + ".png").rounded.border.border-4
            p Member since #{createdAt}
            p #{bio}
            if username == usernameToken
                btn.btn.btn-info Edit
        if activity
            div.d-flex.justify-content-center.container.container-lg
                div
                    table.table.table-striped.table-hover
                        thead
                            tr
                                th(scope="col") Script
                                th(scope="col") Image
                                th(scope="col") Stars
                                th(scope="col") Creator
                        tbody
                            each row in activity
                                tr(onclick="document.location='/scripts/compose/view/" + row._id +"'")
                                    th(scope="row")= row.title
                                    td= row.imageName
                                    td= row.stars
                                    td= row.authorName
    if usernameToken == username
        script(src="/script/account/edit.js")